.button-color {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: none;
  opacity: 0.8;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button-color.red { background-color: #e74c3c; }
.button-color.green { background-color: #27ae60; }
.button-color.blue { background-color: #3498db; }
.button-color.yellow { background-color: #fbff1c; }
.button-color.purple { background-color: #c00ff1; }
.button-color.orange { background-color: #f1c40f; }
.button-color.pink { background-color: #f10fb1; }
.button-color.cyan { background-color: #00ffff; }
.button-color.celadon{background-color: #ace1af;}

.button-color.active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 0 25px white;
}
